# Functions Assignment-3

# Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function. l=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [37]:
l=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
list(sorted((map( lambda l : l[1] ,l))))

[24936, 25534, 27483, 34357]

# Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions. [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
l=[1,2,3,4,5,6,7,8,9,10]
def sq(n):
    return n**2
list(map(sq,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

# Ans

In [18]:
l=[1,2,3,4,5,6,7,8,9,10]
l1=[]
s=tuple(map(lambda l : str(l) , l ))
print(s)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

# Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

# Ans

In [30]:
from functools import reduce
l=[]
for x in range(1,26):
    l.append(x)

reduce(lambda x,y: x*y , l )

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25] <class 'list'>

15511210043330985984000000

# Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function. [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

# Ans

In [33]:
l=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x: x%2==0 and x%3==0 , l))

[6, 60, 90, 120]

# Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function. ['python', 'php', 'aba', 'radar', 'level']

# Ans

In [36]:
l=['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x:  x==x[::-1]  , l))

['php', 'aba', 'radar', 'level']